[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "tests/http-server"]
	path = tests/http-server
	url = https://github.com/luong-anh/http-server
